# Copy this file and name it local-test-vars.env - it will be gitignored. Then export environment variables below.
# Also, make sure to not save secrets in this .example file - you can, however, use this file to save common values
# that will get other devs up and running more quickly

export DEBUG_ON="true"
export SOME_STATIC_VARIABLE=30
export SOME_SECRET_API_KEY=XXXXXXXXXX  # Leaving this as X'es to show that this needs to be filled in once local-test-vars.env is made
